python-docx==1.1.2
pandas==1.5.3
numpy==1.23.5
plotly==5.22.0
kaleido==0.0.1rc9
honeybee-ies==0.12.5
ladybug-geometry==1.32.5
honeybee-vtk==0.39.1
pollination-streamlit-viewer==0.5.0
pollination-streamlit-io==0.84.4
honeybee-core==1.58.22
